In [3]:
import pandas as pd

## create a dataframe:

In [23]:
data = pd.read_csv(
    "../data/feed-views.log",
    names=['datetime', 'user'],
    sep='\t'
)
data['datetime'] = pd.to_datetime(data['datetime'], infer_datetime_format=True).astype("datetime64[ns]")

In [24]:
data

                       datetime       user
0    2020-04-17 12:01:08.463179      artem
1    2020-04-17 12:01:23.743946      artem
2    2020-04-17 12:27:30.646665      artem
3    2020-04-17 12:35:44.884757      artem
4    2020-04-17 12:35:52.735016      artem
...                         ...        ...
1071 2020-05-21 18:45:20.441142  valentina
1072 2020-05-21 23:03:06.457819      maxim
1073 2020-05-21 23:23:49.995349      pavel
1074 2020-05-21 23:49:22.386789      artem
1075 2020-05-22 10:36:14.662600      artem

[1076 rows x 2 columns]